.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}



.container {
  display: grid;

  grid-template-columns: 20% auto;
  grid-template-rows: 80px 1fr;

  grid-template-areas:

  "sidebar head head head"
  "sidebar main main main"
  "sidebar main main main"
  "sidebar main main main";

  /* grid-container height = 100% of viewport height */
  height: 100vh;
  
  
  
  
  
}
@media screen and (max-width: 375px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 72px 1fr;
    grid-template-areas:
    "head"
    "main"
    
  }
}
.grid-sidebar {
  grid-area: sidebar;
}
.header {
  grid-area: head;
  display: 'flex';
  box-shadow: 0 1px 0 0 #030a18;
  background-color : rgba(240, 235, 232, 0.856);
  
}
.content {
  grid-area: main;
  background-color : rgb(248, 245, 244);
  display: 'flex';
  overflow: 'auto';
  padding-top: 50px;
  padding-right: 80px;
  
  padding-left: 80px;
}


